.home-view {
  &__grid-item {
    width: 33.333333%;
    padding: 1rem;
    min-height: 230px;
  }
  &__profile-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    > li {
      padding: 2px 0px;
      > label {
        font-weight: bold;
        display: inline-block;
        min-width: 60px;
        position: relative;
        &:after {
          display: block;
          position: absolute;
          // content: '|';
          top: 0;
          right: -4px;
        }
      }
      > span {
        display: inline-block;
        padding-left: 8px;
      }
    }
  }

  div.ant-divider.ant-divider-horizontal {
    &.g-my-xs {
      margin: 0.5rem 0;
    }
    &.g-my-sm {
      margin: 1rem 0;
    }
  }
}
