.project-list-view {
  position: relative;
  padding-bottom: 4rem;
  .ant-list-lg .ant-list-item {
    border-bottom: 1px solid #1890ff !important;
  }
  .ant-list-vertical .ant-list-item-meta-title {
    font-size: 18px !important;
  }

  &__teck-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    > li {
      padding: 2px 0px;
      > label {
        vertical-align: top;
        font-weight: bolder;
        display: inline-block;
        min-width: 80px;
        position: relative;
        &:after {
          display: block;
          position: absolute;
          top: 0;
          right: -4px;
        }
      }
      > p {
        display: inline-block;
        // white-space: pre-line;
        word-wrap: break-word;
        padding-left: 6px;
        width: 550px;
      }
      > span {
        display: inline-block;
        padding-left: 8px;
      }
    }
  }
}
