@import '~antd/dist/antd.css';

.app {
  &__btn-back {
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
  &__page-title {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
  }
}

div.ant-divider.ant-divider-horizontal {
  &.g-mt-xs {
    margin-top: 0.5rem 0;
  }
  &.g-mb-xs {
    margin-bottom: 0.5rem 0;
  }
  &.g-my-xs {
    margin: 0.5rem 0;
  }
  &.g-my-sm {
    margin: 1rem 0;
  }
}
